# from ansible/roles/og/templates/gobgpd.conf.j2
global:
  config:
    as: {{ bgp_fabric.asn }}
    router-id: {{ bgp_fabric.router_id }}
    
neighbors:
  - config:
      neighbor-address: {{ bgp_fabric.neighbor.address }}
      peer-as: {{ bgp_fabric.neighbor.remote_as }}
